<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 글 정보 처리 SQL -->
<mapper namespace="com.sesoc.web4.DAO.BbsMapper">

<!-- 글 정보 저장 -->
	<insert id="writeBBS" parameterType="BbsVO">
		insert into web4bbs
							(bbsnum
							, userID
							, password
							, content) 
					values 
							(web4bbs_seq.nextVal
							, #{userID}
							, #{password}
							, #{content}) 
	</insert>
<!-- 회원 정보 저장 -->
	<insert id="insertUser" parameterType="UserVO">
		insert into web4user
							(userNum
							, userID
							, userPassword)
					values
							(web4user_seq.nextVal
							, #{userID}
							, #{userPassword})
	</insert>
<!-- 글 리스트 출력 -->
	<select id="showBBSList" resultType="BbsVO">
		select * from web4bbs
		order by bbsnum desc
	</select>
<!-- 글 삭제 -->
	<delete id="deleteContent" parameterType="BbsVO">
		delete from web4bbs
		where 
			bbsnum = #{bbsnum}
			and 
			password = #{password}
	</delete>
<!-- 유저 검색 -->
	<select id="searchUser" parameterType="String" resultType="UserVO">
		select * from web4user
		where userID = #{userID}
	</select>
<!-- Login -->
	<select id="login" parameterType="UserVO" resultType="UserVO">
		select * from web4user
		where 
				userID = #{userID}
				AND
				userPassword = #{userPassword}
	</select>
</mapper>
