<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 글 정보 처리 SQL -->
<mapper namespace="com.sesoc.web5.dao.JoinCustomerMapper">

<!-- 회원등록 -->
<insert id="joinCustomer" parameterType="Customer">
	insert into customer
						( custid
						, password
						, name
						, email
						, division
						, idno
						, address )
				values
						( #{custid}
						, #{password}
						, #{name}
						, #{email}
						, #{division}
						, #{idno}
						, #{address})
</insert>

<!-- 회원검색 -->
<select id="searchCustomer" parameterType="String" resultType="Customer">
	select * from customer
	where custid = #{custid}
</select>
<!-- 식별번호 검색 -->
<select id="searchIDNo" parameterType="String" resultType="Customer">
	select * from customer
	where idno = #{idno}
</select>
<!-- 회원정보 수정 -->
<update id="updateCustomerInfo" parameterType="Customer">
	update customer
	set password = #{password}
		, name = #{name}
		, email = #{email}
		, division = #{division}
		, idno = #{idno}
		, address = #{address}
	where custid = #{custid}  
</update>
</mapper>
