<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.sesec.web3.DAO.PersonMapper">

	<!-- 회원 정보 저장 -->
	<insert id="insertPerson" parameterType="Person">
		insert into web3test
							(name
							, age) 
					values 
							(#{name}
							, #{age}) 
	</insert>
	
	<!-- 회원 정보 전체 출력 -->
	<select id="showPersonList" resultType="Person">
		select * from web3test
	</select>
	
	<!-- 회원 검색 -->
	<select id="searchPerson" parameterType="String" resultType="Person">
		select * from web3test 
		where name like '%'|| #{name}||'%'
	</select>
	
	<!-- 회원 삭제 -->
	<delete id="deletePerson" parameterType="String">
		delete from web3test
		where name = #{name}
	</delete>
</mapper>
