<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		  <typeAlias type="com.learnJapanese.www.VO.UserVO" alias="User" />
		  <typeAlias type="com.learnJapanese.www.VO.Word" alias="Word" />
		  <typeAlias type="com.learnJapanese.www.VO.UserBlinkGameVO" alias="Blink" />
	</typeAliases>
	<mappers>
		  <mapper resource="./mapper/userMapper.xml" />
		  <mapper resource="./mapper/loginMapper.xml" />
		  <mapper resource="./mapper/wordMapper.xml" />
		  <mapper resource="./mapper/blinkGameMapper.xml" />
	</mappers>
</configuration>
