<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.learnJapanese.www.Mapper.BlinkGameMapper">
  <insert id="insertBlinkGameUser" parameterType="Blink">
  		insert into userBlinkGameTable (
  										gameNum
  										, userID)
  								values (
  										userBlinkGameTable_seq.nextVal
  										, #{userID})
  </insert>
  <update id="blinkGameResultUpdate" parameterType="Blink">
  		update userBlinkGameTable 
  		set
  			playCount = #{playCount}
  			, highScore = #{highScore}
  			, maxCombo = #{maxCombo}
  		where
  			gameNum = #{gameNum}
				and  			
  			userID = #{userID}
  </update>
  <select id="getBlinkGameUser" parameterType="String" resultType="Blink">
  		select * from userBlinkGameTable
  		where userID = #{userID}
  </select>
  </mapper>